* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

html, body {
	height: 100%;
}

@font-face {
	font-family: 'Bombardier';
	src: url("./contents/bombardier.ttf");
}

#f-view {
	width: 100%;
	height: 100%;
}

.bg {
	width: 100%;
	height: 100%;
	z-index: 0;
	background-color: #3256A4;
	background-size: 50px 50px;
	background-image:
	linear-gradient(0deg, transparent 9%, 
		rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%, 
		rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%, 
		rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%, 
		rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
		rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent),
	linear-gradient(90deg, transparent 9%, 
		rgba(255, 255, 255, .2) 10%, rgba(255, 255, 255, .2) 12%, transparent 13%, transparent 29%, 
		rgba(255, 255, 255, .1) 30%, rgba(255, 255, 255, .1) 31%, transparent 32%, transparent 49%, 
		rgba(255, 255, 255, .1) 50%, rgba(255, 255, 255, .1) 51%, transparent 52%, transparent 69%, 
		rgba(255, 255, 255, .1) 70%, rgba(255, 255, 255, .1) 71%, transparent 72%, transparent 89%,
		rgba(255, 255, 255, .1) 90%, rgba(255, 255, 255, .1) 91%, transparent 92%, transparent);
}

.bg h1 {
	padding-top: 15%;
	letter-spacing: 2px;
	font-family: Bombardier;
	text-align: center;
	font-size: 70px;
	color: #FFFFFF;
}

.bg h2 {
	letter-spacing: 7px;
	font-family: Bombardier;
	text-align: center;
	font-size: 30px;
	color: #FFFFFF;
}

@media screen and (max-width: 480px) {
	.bg h1 {
		padding-top: 30%;
		letter-spacing: 5px;
		font-family: Bombardier;
		text-align: center;
		font-size: 60px;
		color: #FFFFFF;
	}

	.bg h2 {
		padding-top: 30px;
		letter-spacing: 3px;
		font-family: Bombardier;
		text-align: center;
		font-size: 18px;
		color: #FFFFFF;
	}
}

.header {
	width: 100%;
	height: 50px;
	background-color: red;
}

.arrows {
	width: 60px;
	height: 72px;
	position: absolute;
	left: 50%;
	margin-left: -30px;
	bottom: 20px;
}

.arrows path {
	stroke: #FFFFFF;
	fill: transparent;
	stroke-width: 1px;  
	animation: arrow 2s infinite;
	-webkit-animation: arrow 2s infinite; 
}

@keyframes arrow {
	0% {opacity:0}
	40% {opacity:1}
	80% {opacity:0}
	100% {opacity:0}
}

@-webkit-keyframes arrow {
	0% {opacity:0}
	40% {opacity:1}
	80% {opacity:0}
	100% {opacity:0}
}

.arrows path.a1 {
	animation-delay:-1s;
	-webkit-animation-delay:-1s;
}

.arrows path.a2 {
	animation-delay:-0.5s;
	-webkit-animation-delay:-0.5s;
}

.arrows path.a3 {   
	animation-delay:0s;
	-webkit-animation-delay:0s;
}

header {
	display: block;
	width: 100%;
}
